$board-bg-color: rgb(76, 212, 130);
$navbar-title-bg-color:  #036280;
$navbar-dashboard-bg-color:  #378BA4;
$app-main-color: #333;
$gap: 8px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;
$list-bg-color: #ebecf0;
$column-background-color: #FFD1DC;
$watermelon: #FC6C85;



//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';
