@import './settings';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@700&family=Ubuntu:wght@400;500&display=swap');
@import './components/Column/Column.scss';
@import './components/AppBar/AppBar.scss';
@import './components/BoardBar/BoardBar.scss';

body {
    margin: 0;
    line-height: 1.3em;
    font-size: 14px;
    height: 100%;
    background: url('../public/background.jpg') no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100% 100vh;
    overflow-y: hidden;
    overflow-x: auto;
   

    &::-webkit-scrollbar{
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal{
        height: 8px;
        background-color: black;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $watermelon;
        border-radius: 8px;
        background-clip: padding-box;
    }  
}    


.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    color: $app-main-color;
    font-family: 'Roboto Slab', sans-serif;
    
    .icon{
        font-size: 14px;
        margin-right: 3px;
        // color: white;
    }
    .customize-input-column{
        border: none;
        cursor: pointer;
        background-color: #FC6C85;
        color: white;

        &:focus{
            outline: none;
            box-shadow: none;
        }
        
    }

}


@media (max-width: 768px){
    body{
        overflow-x: auto;
        overflow-y: hidden;
        background: url('../public/background.jpg') no-repeat center center fixed;  
    }
    
    .navbar-app, .navbar-board{
        width: 100%;
        position: fixed;
        
    }

    .container{
        display: grid;
        grid-template-rows: 35px 40px;
    }

    .board-columns{
        display: grid;
        grid-template-rows: 40px auto 0.2fr;
        overflow-x: auto;


        &::-webkit-scrollbar{
            -webkit-appearance: none;  
        }
    
        &::-webkit-scrollbar:horizontal{
            height: 6px;
            background-color: black; 
            
        }
    
        &::-webkit-scrollbar-thumb{
            background-color: $watermelon;
            border-radius: 2px;
            background-clip: padding-box;

        }   
        .add-new-column, .content-add-column{
            grid-row-start: 1;
            margin-left: 18px;
            width: 270px;
            text-align: center; 
        }   
        .content-add-column input{
            display: flex;
            height: 35px;
        }
        .group-btn button{
            background-color: #198754;   
            }
        .group-btn i{
                    color: black; 
        } 
        
    }
    
    .column{
        width: 280px;

        div.card-list{
            overflow-y: auto;
            max-height: 290px;
        }
    }
    
    
}