@import '../../settings';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@700&family=Ubuntu:wght@400;500&display=swap');


.navbar-board{
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: $navbar-dashboard-bg-color;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    position: fixed;
    width: 100%;
    margin-top: 9px;

    
}

.dashboard-logo{
    width: 22px;
    height: auto;
    margin-right: 14px;
    margin-left: 4px;
   
}