@import '../../settings';


.column{
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});


    > * {
        background-color: #ebecf0;
        color: #333;
        padding: 0 8px;
    }

    header{
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
    }

    footer{
        padding-left: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
    }

    ul.task-list{
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$column-header-height - #{$column-footer-height}});
        overflow-y: auto;

        &::-webkit-scrollbar{
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical{
            width: 11px;
        }

        &::-webkit-scrollbar-thumb{
            background-color: darken($color: $list-bg-color, $amount: 15);
            border: 3px solid transparent;
            border-radius: 8px;
            background-clip: padding-box;
        }

    }   
}