@import '../../settings';


.column{
    flex: 0 0 auto;
    width: 300px;
    // height: calc(100% - #{$gap});
    height: calc(100vh - 40px - 50px - #{$gap});
    margin-left: $gap;
    

    > * {
        background-color: #ebecf0;
        color: #333;
        padding: 0 8px;
    }

    header{
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
        cursor: pointer;
    }

    footer{
        padding-left: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
        color: #6c6c6c;

        .footer-action{
            margin-left: 5px;
            cursor: pointer;
            &:hover {
                color: #333;
            }
        }
    }

    div.card-list{
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$column-header-height - #{$column-footer-height}});
        overflow-y: auto;

        &::-webkit-scrollbar{
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical{
            width: 11px;
        }

        &::-webkit-scrollbar-thumb{
            background-color: darken($color: $list-bg-color, $amount: 15);
            border: 3px solid transparent;
            border-radius: 8px;
            background-clip: padding-box;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;
        }

        .card-ghost-drop{
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: bold;
        }

        .card-drop-preview{
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }

    }   
}