@import '../../settings';

div.card-item{
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: white;
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgb(155, 154, 154);
    cursor: pointer;
    margin-bottom: $gap;
    

    img{
        display: block;
        width: calc(100% + 2 * #{$gap});
        height: 120px;
        // margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
    }

    .card-delete-btn{
        font-size: 10px;
        

        button{
            padding: 0;
            
        }
        
    }

        
    


}