@import '../../settings';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@700&family=Ubuntu:wght@400;500&display=swap');


.navbar-app{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: $navbar-title-bg-color;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    padding: 6px;
    position: fixed;
    width: 100%;
    
    
}

.logo{
    width: 40px;
    height: auto;
    padding: 3px;
    
}