$board-bg-color: rgb(165, 224, 224);
$navbar-app-bg-color:  #0067a3;
$navbar-board-bg-color: #0079bf;
$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 10px;
$card-border-radius: 5px;
$list-bg-color: #ebecf0;


//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';
