@import './settings';

body {
    margin: 0;
    line-height: 1.3em;
    font-size: 14px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;
    color: $app-main-color;

    .icon{
        font-size: 14px;
        margin-right: 3px;
    }


}

